@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Oleo+Script:wght@400;700&display=swap');

body {
background:#ffde22;
}

div#header {
  font-family: 'Bebas Neue', cursive;
}

.nav-tabs{
  background-color:#161616;
}
